<!DOCTYPE html>
<html>
<head>
    <title>%TITLE% - test (jsgui documentation)</title>
	<meta charset="utf-8" />


    <script src="/jsgui-doc/lib/jsdoc/scripts/prettify/prettify.js"> </script>
    <script src="/jsgui-doc/lib/jsdoc/scripts/prettify/lang-css.js"> </script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link type="text/css" rel="stylesheet" href="/jsgui-doc/lib/jsdoc/styles/prettify-tomorrow.css">
    <link type="text/css" rel="stylesheet" href="/jsgui-doc/lib/jsdoc/styles/jsdoc-default.css">

    <link type="text/css" rel="stylesheet" href="/jsgui-doc/css/main.css">
    <link type="text/css" rel="stylesheet" href="/jsgui-doc/css/navigation.css">
    <link type="text/css" rel="stylesheet" href="/jsgui-doc/css/content.css">
    <link type="text/css" rel="stylesheet" href="/jsgui-doc/css/page-test.css">
</head>
<body>


    <table class="main" data-content-suffix="-dev">
        <tbody>
            <tr>
                <td class="nav">

                    <div class="cell-nav">
                        <div class="toolbar">
                            <button id="btnNavExpandAll">Expand All</button>
                            <button id="btnNavCollapseAll">Collapse All</button>
                        </div>

                        <h3>Table of contents:</h3>
                        <nav class="nav-main">
                        </nav>

                        <h3>Known issues:</h3>
                        <nav class="nav-issues">
                        </nav>

                        <h3>Tests:</h3>
                        <nav class="nav-tests">
                        </nav>

                    </div>

                </td>
                <td class="content">

                    <div class="toolbar">
                        <button id="btnToggleNav">Toggle navigation</button>
                        <button id="btnTest">Test</button>
                        <button id="btnExpandAll">Expand All</button>
                        <button id="btnCollapseAll">Collapse All</button>
                    </div>

                    <div class="content">

%CONTENT%

                    </div> <!-- .content -->


                </td>
            </tr>
        </tbody>
    </table>



    <script> prettyPrint(); </script>
    <script src="/jsgui-doc/lib/jsdoc/scripts/linenumber.js"> </script>

    <script src="/jsgui-doc/lib/jquery/jquery-1.10.2.min.js"></script>
    <script src="/jsgui-doc/js/navigation.js"></script>
    <script src="/jsgui-doc/js/content.js"></script>


<script>
	var showHide = function(id,pid) { 
		$('div:visible:last').css("border-bottom", "none");
		var element = $("."+id); 
		var pelement = $("."+pid);
		var imageTD = pelement.filter('#'+id).find('#image');

		if (pelement.css("display") == "none") { 
			element.toggle(false);
			imageTD.attr('class', 'collapsed');
			element.click(); 
		} else { 
			element.toggle();
			if (element.css("display") == "none") {
				imageTD.attr('class', 'collapsed');
				element.click();
			} else {
				imageTD.attr('class', 'expanded');
			}
		}
		$('div:visible:last').css("border-bottom", "1px solid black");
	}

	window.onload = function() {
		$(".failed").click();
		$(".passlog").click();
		$(".pending").click();
		$('div:visible:last').css("border-bottom", "1px solid black");
	}
</script>

</body>
</html>
