
<!-----------------------------------------
|          xxxxxxxxxxxxxx()
------------------------------------------>

<@item title="remove_from(parent)">
    <div class="description">
        <p>
            xxxxxxxxxxxxxx.
            <a href="@link:/core/data-object.js/Data_Object.html">Data_Object</a>
        </p>
    </div>

    <h5>Parameters:</h5>
    <@parms>
        <@parm name="parent" type="string" description="xxxx" default="xxx" optional />
    </@parms>

    <h5>Example</h5>
    <@codeblock>
        var data_object = new Data_Object();
    </@codeblock>

    <@codeblock src="/z_core/data-object/Data_Object.spec.js:xxxxxxxxxxxxxxxxx" />


    <h6 class="content-part-header collapsed">data_type constraint</h6>
    <div>
        ....
    </div>


</@item>


<@overloads title="remove_from()">

</@overloads>



<!--==================================================
=                   Features
===================================================-->

<@section title="Features">

    <!-----------------------------------------
    |          Chained Fields
    ------------------------------------------>

    <@item title="Chained Fields">
        <div class="description">
            <p><mark>TODO...</mark></p>
        </div>

    </@item>

</@section>



