
<h1 class="page-title">Module: core/xxxxxxxxxxxxxx</h1>

<section>

    <header>
        <h2>
            core/xxxxxxxxxxxxxx
        </h2>

        <div class="container-overview">
            <div class="description">
                <p>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx:</p>
            </div>
            <dl class="details"></dl>
        </div>
    </header>

    <article>

        <h3 class="subsection-title">Classes</h3>

        <dl>
            <dt><a href="@link:/core/xxxxxxxxxxxxxx.js/xxxxxxxxxxxxxx.html">xxxxxxxxxxxxxx</a></dt>
            <dd></dd>

        </dl>

    </article>

</section>


