<h1 class="page-title">Class: Data_Object</h1>

<section>

    <header>
        <h2>
            <span class="ancestors"><a href="@link:/core/data-object.js.html">core/data-object.js</a>.</span>
            Data_Object
        </h2>

        <div class="container-overview">
            <div class="class-description">
                <p>
                    Represents a class storing a data object.                    
                </p>
            </div>
            <p>Base class: <span class="ancestors"><a href="@link:/core/evented-class.js/Evented_Class.html">core/evented-class.js:Evented_Class</a></span></p>
        </div>
    </header>

    <article>

        <@section title="Creation">

            <@item title="new Data_Object(spec-opt)" >
                <div class="description">
                    <p>Creates the Data_Object object.</p>
                </div>
                
                <h5>Example</h5>               
                <@codeblock src="/z_core/data-object/Data_Object.spec.js:no spec or empty spec" />
                
            </@item>

            <@item title="init_default_events()">
                <div class="description">
                    <p>
                        Does nothing. 
                    </p>
                </div>
            </@item>

        </@section>

    </article>

</section>